html {
    max-width: 50em;
    margin: 0 auto;
    padding: 10px;
    font-family: Helvetica, Verdana, Tahoma, Sans-serif;

} 
h1, h2, #news {
    font-weight: 300;
}

#news {
    font-size: 1.2em;
    line-height: 1.5sem;
}

a {
    text-decoration: none;
    color: #000;
    border-bottom: 2px solid #ffc936
}

a:hover {
    font-style: italic;
}